@using System.Text;
@using System.IO;
@using YamlDotNet.RepresentationModel;
@using YamlDotNet.Serialization;


@{

 using (var reader = new StreamReader(@"input\data\text.yaml")) {
    var yaml = new YamlStream();
    yaml.Load(reader);
      int i = 0;
foreach(var doc in yaml.Documents)
{
    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services @(i++%2 == 0? "services" : "services-2") text-center d-block">
            <div class="icon"><span class="flaticon-body"></span></div>
            <div class="media-body">
                <h3 class="heading mb-3">@doc.get("title")</h3>
                <p>@doc.get("Paragraph") </p>
                <!-- <p><a href="#" class="btn btn-primary">Read more</a></p> -->
            </div>
        </div>
    </div>
}
}}